[Unit]
Description=go2rtc
After=network-online.target
Wants=network-online.target

[Service]
DynamicUser=yes
EnvironmentFile=/etc/cerberus/env
ExecStart=/usr/local/bin/go2rtc -config /etc/cerberus/go2rtc.yaml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
